@import "_mixins.scss";
@import "colors.scss";
body {
  background-color: $Black;
  color: white;
  a {
    transition: all 200ms;
    &:hover {
      text-decoration: none;
    }
  }
  .btn,
  .btn-dark {
    &:focus {
      box-shadow: none !important;
    }
  }
  tbody {
    text-align: center !important;
    tr {
      transition: all 200ms;
      .Delete-btn,
      .Edit-btn {
        visibility: hidden;
        &:hover {
          color: white;
        }
      }
      .Edit-btn {
        color: $green;
      }
      .Delete-btn {
        color: gray;
      }
      &:hover {
        background-color: $blueHover !important;
        cursor: pointer;
        .Delete-btn,
        .Edit-btn {
          visibility: visible;
        }
      }
    }
  }
}
.navbar {
  background-color: $lightBlack;
  box-shadow: 0 3px 4px #1d232b;
  a {
    font-size: 18px;
    color: white;
    &:hover {
      color: $blue;
    }
  }
  .items {
    display: flex;
    justify-content: flex-start;
    @include Lphones() {
      width: 40% !important;
    }
    @include phones() {
      width: 30% !important;
    }
  }
}
.btn-blue {
  background-color: $blue;
  transition: all 200ms;
  color: white;
  &:hover {
    color: white !important;
    background-color: #6058d1 !important;
  }
}
.line {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #7971ea;
}
.home-section {
  table {
    max-height: 70%;
    overflow-y: auto;
    text-align: center !important;
    .table-btns {
      width: 15% !important;
    }
  }
}
// login page

.login-bg {
  form {
    div {
      position: relative;
      img {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
    min-height: 350px;
    background-image: url("../assets/pattern.png");

    padding: 30px;
    background-position-y: 24%;
    background-repeat: no-repeat;
    background-size: 179%;
    background-color: #393e46;
    border-radius: 10px;
    box-shadow: 0 5px 40px #171b22;
    label {
      font-size: 20px;
    }
    h4 {
      color: $orange;
      text-align: center;
      margin-top: 10px;
    }
    h5 {
      color: $green;
      text-align: center;
      margin-top: 10px;
    }
  }
}
